<h1>Listing platforms</h1>

<table>
  <tr>
    <th>Osname</th>
    <th>Arch</th>
    <th>Icon file name</th>
    <th>Icon content type</th>
    <th>Icon file size</th>
  </tr>

<% for platform in @platforms %>
  <tr>
    <td><%=h platform.osname %></td>
    <td><%=h platform.arch %></td>
    <td><%=h platform.icon_file_name %></td>
    <td><%=h platform.icon_content_type %></td>
    <td><%=h platform.icon_file_size %></td>
    <td><%= link_to 'Show', platform %></td>
    <td><%= link_to 'Edit', edit_platform_path(platform) %></td>
    <td><%= link_to 'Destroy', platform, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New platform', new_platform_path %>
