<div class="app_details">

<h3>List of Categories</h3>

<% $category = "true" %>

<% if @categories.nil? or @categories.empty? %>
  <p><b> No Categories that show </b></p>
<% else %>
  <table cellspacing=5>

  <% for category in @categories %>
    <tr align=center>
      <td>
        <% if !MenuNode.find_by_category_id(category.id) and !MenuNode.find_by_child_id(category.id) %>
          <% $category = "false" %>
          <%= image_tag "aviso.png", :alt => "Aviso", :width => "32", :height => "28" %>
        <% end %>
      </td>
      <td>
        <% if !category.publicname.nil? and !category.publicname.empty? %>
          <%= link_to category.publicname, applications_path(category) %>
        <% else %>
          <%= link_to category.name, applications_path(category) %>
        <% end %>
      </td>
      <td>
        <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_category_path(category), :title => "Edit" %>
        <%= link_to 'Edit', edit_category_path(category) %>
      </td>
      <td>
        <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), category, :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if $category == "false" %>
  <br />
  <p>
    <%= image_tag "aviso.png", :alt => "Aviso", :width => "32", :height => "28" %> 
    <b><font color="red">Category not assigned to any site</font></b>
  </p>
<% end %>

<%= will_paginate @categories, :previous_label => '<< Anterior', :next_label => 'Siguiente >>' %>

</div>

<br />
<p>
  <input type="button" onclick="parent.location='/categories/new'" value="Create" /> &nbsp; <input type="button" onclick="parent.location='/configurations'" value="Back" />
</p>
