<div class="app_details">

<table style="margin-bottom: 0px;">
  <tr>
    <td>
      <a href="/site_configurations">
      <div class="configuration">
        <div id="configuration_img">
          <%= image_tag "/images/configuration.png", :size => "64x64" %>
        </div>
        <div id="configuration_content">
          <div id="configuration_tit">Site Configurations</div>
          <div id="configuration_txt">Create, modify and/or delete sites, catalogs, from different domains.</div>
        </div>
      </div>
      </a>
    </td>
  </tr>
  
  <tr>
    <td>
      <a href="/configurations/categories">
      <div class="configuration">
        <div id="configuration_img">
          <%= image_tag "/images/categories.png", :size => "64x64" %>
        </div>
        <div id="configuration_content">
          <div id="configuration_tit">Categories</div>
          <div id="configuration_txt">Create, modify and/or delete categories.</div>
        </div>
      </div>
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="/menu_nodes">
      <div class="configuration">
        <div id="configuration_img">
          <%= image_tag "/images/node.png", :size => "64x64" %>
        </div>
        <div id="configuration_content">
          <div id="configuration_tit">Menu nodes</div>
          <div id="configuration_txt">Create, modify and/or delete the nesting of categories, allowing sharing categories among different sites.</div>
        </div>
      </div>
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="/pages">
      <div class="configuration">
        <div id="configuration_img">
          <%= image_tag "/images/pages.png", :size => "64x64" %>
        </div>
        <div id="configuration_content">
          <div id="configuration_tit">Pages</div>
          <div id="configuration_txt">create, modify and/or delete pages with static content.</div>
        </div>
      </div>
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="/users">
      <div class="configuration">
        <div id="configuration_img">
          <%= image_tag "/images/users.png", :size => "64x64" %>
        </div>
        <div id="configuration_content">
          <div id="configuration_tit">Users</div>
          <div id="configuration_txt">Create, modify and/or delete users.</div>
        </div>
      </div>
      </a>
    </td>
  </tr>
</table>

</div>
