<%= error_messages_for :application %>

<% form_for ([@application]), :url => application_path(@tags, application), :html => { :multipart => true } do |f| %>
 
  <p>
    <span class="asterisk">* </span><b>Name</b><br />
    <%= f.text_field :name %>
  </p>
 
  <p>
    <b>Logo</b><br />
	<%= f.file_field :logo %>
  </p>
  
  <p>
    <b>WebSite</b><br />
    <%= f.text_field :website %>
  </p>
  
  <p>
    <b>Tags (Separated for commas)</b><br/>
    <%= f.text_field :tag_list %>
  </p>
  
  <p>
    <b>License</b><br />
    <%= f.text_field :license %>
  </p>

  <p>
    <b>Demo</b><br />
    <%= f.text_field :demo %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Requirements</b><br />
    <%= f.text_area :requisitos %>
  </p>

  <p><span class="asterisk">* </span><b>Required field</b></p>

  <p>
    <%= f.submit button_name %>
  </p>

<% end %>
