<% for application in @applications %>
  <p class="application">
    <%= link_to (image_tag application.logo.url, :class => "app_logo", :alt => application.name,
		:title => application.name), application_path(@tags, application)  %>
    <%= link_to application.name, application_path(@tags, application) %>
    <% if !application.description.nil? %>
      <%  maxIndex = strip_tags(application.description).index(' ', 260) 
          maxIndex = 260 if maxIndex.nil? %> 
      <%= strip_tags(application.description)[0,maxIndex] %>
      <%= link_to "...", application_path(@tags, application) if strip_tags(application.description).length > 260 %><br />
    <% end %>
  </p>
<% end %>

<br />



<% if !@applications.nil? and !@applications.empty? and @size > 10%>
<% form_tag './applications', {:method => :get} do %>
  <div style="text-align:center;">
      <%= hidden_field_tag :s, params[:s] %>
      <%= hidden_field_tag :start, @start %>
      <%= hidden_field_tag :end, @end %>
			<% if @start > 0 %>
				<%= image_submit_tag 'previous.png', {:name => :previous, :id => :previous, :value => true} %>
			<% else %>
				<%= image_tag 'previous_no.png', :alt => 'No more results' %>
			<% end %>
			<%= image_submit_tag 'home.png', {:name => :home, :id => :home, :value => true} %>
			<% if @end < @size - 1 %>
				<%= image_submit_tag 'next.png', {:name => :next, :id => :next, :value => true} %>
			<% else %>
				<%= image_tag 'next_no.png', :alt => 'No more results' %>
			<% end %>
  </div>
<% end %>
<% end %>


<% if logged_in? and current_user.has_role?('administrator') %>
  <%= link_to 'Create Application', new_application_path(@tags) %>
<% end %>
