<h1>Listing applications in <%=h @category.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Logo</th>
    <th>Website</th>
    <th>Description</th>
  </tr>

<% for application in @applications %>
  <tr>
  	<td><%=h application.category_id %></td>
    <td><%=h application.name %></td>
    <td><%=h application.logo %></td>
    <td><%=h application.website %></td>
    <td><%=h application.description %></td>
    <td><%= link_to 'Show', [@category, application] %></td>
    <td><%= link_to 'Edit', [:edit, @category, application] %></td>
    <td><%= link_to 'Destroy', [@category, application], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New application', new_category_application_path(@category) %>
