<h4>New Breadcrums here!</h4>
<% for application in @applications %>
	<p class="application">
		<%= link_to (image_tag application.logo.url, :class => "app_logo", :alt => application.name,
					:title => application.name), app_path(@taglist, application.name)  %>
		<%= link_to application.name, app_path(@taglist, application.name) %> 
		<%=h application.description[0,260] %>
		<%=h '...' if application.description.length > 260 %><br />
	</p>

<% end %>

<br />
<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'New application', new_application_path %>
<% end %>