<%= stylesheet_link_tag 'applications' %>

<h4><%=h @category.name %></h4>

<% for application in @applications %>
	<p class="application">
		<%= link_to (image_tag application.logo.url, :class => "app_logo"), [@category, application] %>
		<%= link_to application.name, [@category, application] %> 
		<%=h application.description[0,260] %>
		<%=h '...' if application.description.length > 260 %><br />
	</p>
<!--
    <td>< %= link_to 'Show', [@category, application] % ></td>
    <td>< %= link_to 'Edit', [:edit, @category, application] % ></td>
    <td>< %= link_to 'Destroy', [@category, application], :confirm => 'Are you sure?', :method => :delete % ></td>
  </tr>
-->
<% end %>

<br />
<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'New application', new_category_application_path(@category) %>
<% end %>