<h4><%= link_to 'Categor&iacute;as', categories_path %> > <%= link_to @category.name, category_applications_path %> > <%= link_to @application.name, category_application_url %></h4>

<div class="app_details">
	<%= image_tag @application.logo.url(:big), :class => "app_logo",
		:alt => @application.name, :title => @application.name %>

	<% #if @application.installer_file_name %> 
		<!--<div class="app_download">
			< %= link_to (image_tag 'installer.png', :alt => "descagar", :title => "Descargar " + @application.name),
				@application.installer.url % ><br />
			< %= link_to 'Click para descargar', @application.installer.url, :title => "Descargar " + @application.name % >
		</div> -->
	<% #end %>
		
	<p><b>Aplicaci&oacute;n:</b> <%=h @application.name %></p>
	<p><b>Categor&iacute;a:</b> <%=h @application.category.name %></p>
	<p><b>P&aacute;gina web:</b> <%= link_to @application.website.split(/\/\//)[1], @application.website %></p>
	<p><b>Recomendada por:</b> <%= @application.user_recommend.name if @application.user_recommend %></p>
	<p><b>Subida por: </b> <%= @application.user_upload.name if @application.user_upload %></p>
	<p><b>Descripci&oacute;n:</b> <%=h @application.description %></p>	

	
	<% if !@screenshots.empty? #dirty? %>
		<div id="screenshots">
			<%= render :partial => '/shared/screenshots' %>
		</div>
	<% end %>
	
</div>
<div id="app_details_bottom">&nbsp;</div>

<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'Edit', [:edit, @category, @application] %> | 
	<%= link_to 'Screenshots', category_application_screenshots_path(@category, @application) %> | 
	<%= link_to 'Resources', category_application_resources_path(@category, @application) %> |
	<%= link_to 'Installers', category_application_installers_path(@category, @application) %>
<% end %>

<% #= link_to 'Back', category_applications_path(@category) %>

