<div class="app_details">
<table>
  <tr>
    <td valign="top">
      <%= image_tag @application.logo.url(:normal), :class => "app_logo", :alt => @application.name, :title => @application.name %>
    </td>

    <td valign="bottom">		
      <p><b>Aplicaci&oacute;n:</b> <%=h @application.name %></p>
      <% if !@application.website.nil? and !@application.website.empty? %>  
        <p>
          <b>P&aacute;gina Web:</b> 
          <%= link_to @application.website.split(/\/\//)[1], @application.website, :popup => true unless @application.website.nil? %>
        </p>
      <% end %>
    </td>

    <td valign="top" width="20%">
      <p align=right>
        <div id="star-ratings-block">
          <%= render :partial => "ratings/rate", :locals => { :asset => @application} %>
        </div>
<!--
        <%#= link_to_remote (image_tag "up.png", :class => "votes"), :url => {:action => 'vote_up', :id => @application.id } %>
        <%#= @application.vote_up %>
        &nbsp;
	<%#= link_to_remote (image_tag "down.png", :class => "votes"), :url => {:action => 'vote_down', :id => @application.id } %>
        <%#= @application.vote_down %>
-->
     	<br />
        <% @download = Download.find_by_application_id(@application.id)
        if !@download.nil?
          $result = @download.windows + @download.linux + @download.mac + @download.multiplatform
          if $result != 0 %>
            <b>Descargas:</b> <%= $result %>
       <% end
        end %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
    </td>

    <td colspan="2" valign="top">
      <% if !@application.license.nil? and !@application.license.empty? %>
        <% if @application.license_url.nil? or @application.license_url.empty? %>
          <p><b>Licencia:</b> <%=h @application.license %></p>
        <% else %>	
          <p><b>Licencia:</b> <%= link_to @application.license, @application.license_url, :popup => true %></p>
        <% end %>
      <% end %>
  
      <% if !@application.demo.nil? and !@application.demo.empty? %>
        <p>
          <b>Demo On-Line:</b> 
          <%= link_to @application.demo.split(/\/\//)[1], @application.demo, :popup => true %>
        </p>
      <% end %>
  
      <% if !@application.description.nil? and !@application.description.empty? %>  
        <% expr = /^(\s*)<p>(.*)<\/p>(\s*)$/ %> 
        <p><b>Descripci&oacute;n:</b> <%= @application.name + " " %>
        <% if description = expr.match(@application.description) %>
          <%= description[2] %></p>
        <% else %>
          <%= @application.description %></p> 
        <% end %>
      <% end %>
  
      <% if !@application.requisitos.nil? and !@application.requisitos.empty? %> 
        <p><b>Requisitos:</b> 
        <% if requisitos = expr.match(@application.requisitos) %>
          <%= requisitos[2] %></p>
        <% else %>
          <%= @application.requisitos %></p>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<% if !@win32.empty? or !@win64.empty? or !@linux.empty? or !@mac.empty? or !@multiplatform.empty? %>
  <%= render :partial => '/shared/installers_list' %>
<% end %>

<% if !@last_update.nil? %>
    <p class="app_update">
      <b>Última actualización:</b> 
      <%= @last_update.updated_at.strftime("%d-%m-%Y") %>
    </p>
  <% end %>
  <%= render :partial => 'shared/social' %>
  <br /> 
</div>

<% if logged_in? and current_user.has_role?('administrator') %>
  <p> 
  <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_application_path(@tags, @application.to_param), :title => "Edit" %>
  <%= link_to 'Edit', edit_application_path(@tags, @application.to_param) %>
 
  <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), 
	application_path(@tags, @application), :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "Delete", application_path(@tags, @application), :confirm => 'Are you sure?', :method => :delete %></td>
  </p>
  <p>
  <%= link_to 'Screenshots', application_screenshots_path(@tags, @application) if @screenshots.empty? %>
  <%= link_to 'Resources', application_resources_path(@tags, @application) if @application.resources.empty? %>
  <%= link_to 'Installers', application_installers_path(@tags, @application) if @application.installers.empty? %>
  </p>
<% end %>
