<div class="app_details">
	<%= image_tag @application.logo.url(:big), :class => "app_logo",
		:alt => @application.name, :title => @application.name %>
		
	<p><b>Aplicaci&oacute;n:</b> <%=h @application.name %>, <%= link_to @application.website.split(/\/\//)[1], @application.website unless @application.website.nil? %></p>
	<p><b>Tags:</b> <%=h @application.tag_list %></p>
  <p><b>Recomendada por:</b> <%= @application.user_recommend.name if @application.user_recommend %>Ofincia de Software Libre</p>
  <!--
  <p><b>Idioma:</b></p>
  <p><b>Licencia:</b><p>
  -->
  <p><b>Descripci&oacute;n:</b> <%=h @application.description %></p>
  <!--
  <p><b>Recomendaciones:</b></p>
  -->


  <div id="installers">
    <table>
      <caption>Instaladores:</caption>
      <tbody>
        <tr>
          <th>32Bits</th>
          <th>64Bits</th>
        </tr>
        <tr>
          <td>
            <% for installer in @installer32 %>
    	  	    <%= link_to installer.name, installer.installer.url, 
                :title => 'descarga ' + installer.name if installer.version %>
            <% end %>
          </td>
          <td>
            <% for installer in @installer64 %>
    	  	    <%= link_to installer.name, installer.installer.url, 
                :title => 'descarga ' + installer.name if installer.version %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <% if logged_in? and current_user.has_role?('administrator') %>
    	<%= link_to 'New installer', new_application_installer_path(@tags, @application) %>
    <% end %>
  </div>

</div>
<div id="app_details_bottom">&nbsp;</div>

<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'Edit', edit_application_path(@tags, @application.to_param) %> | 
	<%= link_to 'Screenshots', application_screenshots_path(@tags, @application) %> | 
	<%= link_to 'Resources', application_resources_path(@tags, @application) %> |
	<%= link_to 'Installers', application_installers_path(@tags, @application) %>
<% end %>
