<div class="app_details">
	<%= image_tag @application.logo.url(:big), :class => "app_logo",
		:alt => @application.name, :title => @application.name %>
		
	<p><b>Aplicaci&oacute;n:</b> <%=h @application.name %>, <%= link_to @application.website.split(/\/\//)[1], @application.website unless @application.website.nil? %></p>
  <p><b>Etiquetas:</b>
    <% tag_cloud @application.tag_counts, %w(tag1 tag2 tag3) do |tag, css_class| %>
      <%= link_to tag, applications_path(String.new(tag.name).to_url), :class => css_class %>
    <% end %>
  </p> 
  <p><b>Recomendada por:</b> <%= @application.user_recommend.name if @application.user_recommend %>Ofincia de Software Libre</p>
  <!--
  <p><b>Idioma:</b></p>
  <p><b>Licencia:</b><p>
  -->
  <p><b>Descripci&oacute;n:</b> <%=h @application.description %></p>
  <!--
  <p><b>Recomendaciones:</b></p>
  -->

  <% unless @installers32.empty? and @installers64.empty? %>
  <div id="installers">
    <table summary="Relación de instaladores y arquitecturas">
      <caption>Instaladores:</caption>
      <tbody>
        <tr class="heading">
          <th>32Bits</th>
          <th>64Bits</th>
        </tr>
        <tr>
          <td>
            <% for installer in @installers32 %>
    	  	    <%= link_to installer.name, installer.installer.url, 
                :title => 'descarga ' + installer.name if installer.version %><br/>
            <% end %>
          </td>
          <td>
            <% for installer in @installers64 %>
    	  	    <%= link_to installer.name, installer.installer.url, 
                :title => 'descarga ' + installer.name if installer.version %><br/>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>

</div>
<div id="app_details_bottom">&nbsp;</div>

<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'Edit', edit_application_path(@tags, @application.to_param) %> | 
	<%= link_to 'Screenshots', application_screenshots_path(@tags, @application) %> | 
	<%= link_to 'Resources', application_resources_path(@tags, @application) %> |
	<%= link_to 'Installers', application_installers_path(@tags, @application) %>
<% end %>
