<div class="app_details">

<table>
<td valign="top">
  <%= image_tag @application.logo.url(:normal), :class => "app_logo", :alt => @application.name, :title => @application.name %>
</td>
<td valign="top">		
  <p><b>Aplicaci&oacute;n:</b> <%=h @application.name %></p>

  <% if !@application.website.nil? and !@application.website.empty? %>  
    <p>
      <b>P&aacute;gina web:</b> 
      <%= link_to @application.website.split(/\/\//)[1], @application.website, :popup => true unless @application.website.nil? %>
    </p>
  <% end %>
  
  <% if !@application.tag_list.nil? and !@application.tag_list.empty? %>  
  <p id="taglist"><b>Etiquetas:</b>
    <% tag_cloud @application.tag_counts.sort { |x, y| x.name <=> y.name }, @css_classes do |tag, css_class| %>
      <%= link_to tag, applications_path(String.new(tag.name).to_url), :class => css_class %>
    <% end %>
  </p>
  <% end %>

  <% if !@application.license.nil? and !@application.license.empty? %>
	    <p><b>Licencia:</b> <%=h @application.license %></p>
  <% end %>

  <!-- <p><b>Idioma:</b></p> -->
  
  <% if !@application.demo.nil? and !@application.demo.empty? %>
  <p><%= link_to "Pruébelo On-Line", @application.demo, :popup => true %></p>
  <% end %>

  <% if !@application.description.nil? and !@application.description.empty? %>  
    <% expr = /^(\s*)<p>(.*)<\/p>(\s*)$/ %> 
    <p><b>Descripci&oacute;n:</b> <%= @application.name + " " %>
    <% if description = expr.match(@application.description) %>
      <%= description[2] %></p>
    <% else %>
      <%= @application.description %></p> 
    <% end %>
  <% end %>
  
  <% if !@application.requisitos.nil? and !@application.requisitos.empty? %> 
    <p><b>Requisitos recomendados:</b> 
      <% if requisitos = expr.match(@application.requisitos) %>
        <%= requisitos[2] %></p>
      <% else %>
        <%= @application.requisitos %></p>
      <% end %>
  <% end %>

</td>
</table>

<% if !@win32.empty? or !@win64.empty? or !@linux.empty? or !@mac.empty? or !@multiplatform.empty? %>
  <div id="installers">
  <table summary="Relación de instaladores y arquitecturas">
    <caption>Descargar:</caption> 
    <tbody>
    <tr valign=top>
      <td>       
      <% if !@win32.empty? %>
        <table>
          <% installer = @win32[@win32.size - 1] %>
          <tr class="heading">
            <th>
              <%= link_to (image_tag "win32.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
            </th> 
            </tr>
          <tr valign=top>
            <td>
    	      <%= link_to "Windows x32", installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	       <% if installer.version.nil? or !installer.version.empty? %>
		 <p><%= "Versión" + installer.version%> </p> 
               <% end %>
            </td>
          </tr>
        </table>
        </td>
        <td>&nbsp; &nbsp;</td>
        <td>
      <% end %>

      <% if !@win64.empty? %>
	<table>
          <% installer = @win64[@win64.size - 1] %>
 	  <tr class="heading">
            <th>
            <%= link_to (image_tag "win64.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	    </th>
          </tr>
  	  <tr>
    	    <td valign=top>
    	       <%= link_to "Windows x64", installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	       <% if installer.version.nil? or !installer.version.empty? %>
		 <p><%= "Versión" + installer.version%> </p> 
               <% end %>
            </td>
          </tr>
	</table>
        </td>
        <td>&nbsp; &nbsp;</td>
        <td>
      <% end %>

      <% if !@linux.empty? %>
	<table>
          <% installer = @linux[@linux.size - 1] %>
 	  <tr class="heading">
            <th>
            <%= link_to (image_tag "linux.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	    </th>
          </tr>
  	  <tr>
    	    <td valign=top>
    	       <%= link_to "GNU/Linux", installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	       <% if installer.version.nil? or !installer.version.empty? %>
		 <p><%= "Versión" + installer.version%> </p> 
               <% end %>
            </td>
          </tr>
	</table>
        </td>
        <td>&nbsp; &nbsp;</td>
        <td>
      <% end %>

      <% if !@mac.empty? %>
	<table>
          <% installer = @mac[@mac.size - 1] %>
 	  <tr class="heading">
            <th>
            <%= link_to (image_tag "mac.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	    </th>
          </tr>
  	  <tr>
    	    <td valign=top>
    	       <%= link_to "Mac OS", installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	       <% if installer.version.nil? or !installer.version.empty? %>
		 <p><%= "Versión" + installer.version%> </p> 
               <% end %>
            </td>
          </tr>
	</table>
        </td>
        <td>&nbsp; &nbsp;</td>
        <td>
      <% end %>

      <% if !@multiplatform.empty? %>
	<table>
          <% installer = @multiplatform[@multiplatform.size - 1] %>
 	  <tr class="heading">
            <th>
            <%= link_to (image_tag "multi.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	    </th>
          </tr>
  	  <tr>
    	    <td valign=top>
    	       <%= link_to "Multiplataforma", installer.installer.url, :title => 'descargar ' + installer.name if installer.version %><br/>
	       <% if installer.version.nil? or !installer.version.empty? %>
		 <p><%= "Versión" + installer.version%> </p> 
               <% end %>
            </td>
          </tr>
	</table>
      <% end %>

        </td>
      </tr>
    </table>
    
    </tbody>
  </table>
  </div>
  <% end %>
</div>

<div id="app_details_bottom">&nbsp;</div>

<% if logged_in? and current_user.has_role?('administrator') %>
  <p>
  <%= link_to 'Screenshots', application_screenshots_path(@tags, @application) %>
 
  <%= link_to 'Resources', application_resources_path(@tags, @application) %>

  <%= link_to 'Installers', application_installers_path(@tags, @application) %>
  </p>
  <p> 
  <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_application_path(@tags, @application.to_param), :title => "Edit" %>
  <%= link_to 'Edit', edit_application_path(@tags, @application.to_param) %>
 
  <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), 
	application_path(@tags, @application), :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "Delete", application_path(@tags, @application), :confirm => 'Are you sure?', :method => :delete %></td>
  </p>
<% end %>
