<%= stylesheet_link_tag 'applications' %>

<h4><%=h @category.name + ' > ' + @application.name %></h4>

<div class="app_details">
	<%= image_tag @application.logo.url(:big), :class => "app_logo",
		:alt => @application.name, :title => @application.name %>
	<p><b>Aplicaci&oacute;n:</b> <%=h @application.name %></p>
	<p><b>Categor&iacute;a:</b> <%=h @application.category.name %></p>
	<p><b>P&aacute;gina web:</b> <%= link_to @application.website, @application.website %></p>
	<p><b>Descripci&oacute;n:</b> <%=h @application.description %></p>
	<%= render :partial => '/shared/screenshots' %>
</div>
<div id="app_details_bottom">&nbsp;</div>

<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'Edit', [:edit, @category, @application] %> | 
	<%= link_to 'Screenshots', category_application_screenshots_path(@category, @application) %>
<% end %>

<!-- < %= link_to 'Resources', category_application_resources_path(@category, @application) % > |
| < %= link_to 'Back', category_applications_path(@category) % > -->

