<%= stylesheet_link_tag 'applications' %>

<h4><%=h @category.name + ' -> ' + @application.name %></h4>

<div class="app_details">
	<%= image_tag @application.logo.url(:resized), :class => "logos" %>
	<p><b>Nombre:</b> <%=h @application.name %></p>
	<p><b>Categor&iacute;a:</b> <%=h @application.category.name %></p>
	<p><b>Website:</b> <%= link_to @application.website, @application.website %></p>
	<p><b>Descripci&oacute;n:</b> <%=h @application.description %></p>
</div>

<!-- < %= link_to 'Resources', category_application_resources_path(@category, @application) %> | -->
<%= link_to 'Edit', [:edit, @category, @application] %>
<!-- | < %= link_to 'Back', category_applications_path(@category) %> -->