<%= error_messages_for :installer %>
<% form_for ([@application, @installer]), :url => application_installer_path(@tags, @application, installer), :html => { :multipart => true } do |f| %>

  <p>
    <b>Tags Platforms and Architecture (Separated by commas):</b><br/>
    <%= f.text_field :platform_list %>
  <p>
    <b>Version</b><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <b>File Name</b><br />
    <%= f.file_field :installer %>
  </p>
  <p><%= f.submit button_name %></p>
<% end %>
