<%= error_messages_for :installer %>
<% form_for ([@application, @installer]), :url => application_installer_path(@tags, @application, installer), :html => { :multipart => true } do |f| %>

  <p>
    <%= f.label :application %><br />
    <%=h @application.name %>
  </p>
  <p>
    <b>Tags de Plataforma/Arquitectura (separados por comas):</b><br/>
    <%= f.text_field :platform_list %>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :installer_file_name %><br />
    <%= f.file_field :installer %>
  </p>
  <p><%= f.submit button_name %></p>
<% end %>
