<%= error_messages_for :installer %>
<% form_for ([@application, @installer]), :url => application_installer_path(@tags, @application, installer), :html => { :multipart => true } do |f| %>

  <p>
    <span class="asterisk">* </span><b>Platforms and Architecture: </b>
    <select name="installer[platform_list]">
      <% if !@installer.platform_list.nil? and !@installer.platform_list.empty? %>
        <option selected value=<%= @installer.platform_list %>> <%= @installer.platform_list %> </option>
      <% end %>
      <% if @installer.platform_list.to_s !~ Regexp.compile("Windows, 32Bits") %>   
        <option value="Windows, 32Bits"> <%= "Windows, 32Bits" %> </option>
      <% end %>
      <% if @installer.platform_list.to_s !~ Regexp.compile("Windows, 64Bits") %>   
        <option value="Windows, 64Bits"> <%= "Windows, 64Bits" %> </option>
      <% end %>
      <% if @installer.platform_list.to_s !~ Regexp.compile("Linux") %>   
        <option value="Linux"> <%= "GNU/Linux" %> </option>
      <% end %>
      <% if @installer.platform_list.to_s !~ Regexp.compile("Mac") %>   
        <option value="Mac"> <%= "Mac" %> </option>
      <% end %>
      <% if @installer.platform_list.to_s !~ Regexp.compile("Multiplatform") %>   
        <option value="Multiplatform"> <%= "Multiplatform" %> </option>
      <% end %>
    </select>
  </p>

  <p>
    </span><b>Version</b><br />
    <%= f.text_field :version %>
  </p>

  <p>
    <span class="asterisk">* </span><b>File Name</b><br />
    <%= f.file_field :installer %>
  </p>

  <p><span class="asterisk">* </span><b>Required field</b></p>

  <p>
    <%= f.submit button_name %> &nbsp; <input type="button" onclick="history.go(-1); return false;" value="Back" />
  </p>
<% end %>
