<div class="app_details">

<h3>Listing <%=h @application.name %> Installers</h3>

<table cellspacing=5>
  <tr align=center>
    <th>Platforms and Architecture</th>
    <th>Version</th>
    <th>File Name</th>
    <th>Content Type</th>
    <th>File Size</th>
  </tr>

<% for installer in @installers %>
  <tr align=center>
    <td><%=h installer.platform_list %></td>
    <td><%=h installer.version %></td>
    <td><%=h installer.installer_file_name %></td>
    <td><%=h installer.installer_content_type %></td>
    <td><%=h installer.installer_file_size %></td>
    <td><%= link_to 'Show', application_installer_path(@tags, @application, installer) %></td>
    <td><%= link_to 'Edit', edit_application_installer_path(@tags, @application, installer) %></td>
    <td><%= link_to 'Destroy', application_installer_path(@tags, @application, installer), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<p><%= link_to 'New installer', new_application_installer_path(@tags, @application) %></p>
