<div class="app_details">

<h3><%= @application.name%> Installer</h3>

<p>
  <b>Version:</b>
  <%=h @installer.version %>
</p>

<p>
  <b>Tags Platforms and Architecture:</b>
  <%= @installer.platform_list %>
</p>

<p>
  <b>File Name:</b>
  <%=h @installer.installer_file_name %>
</p>

<p>
  <b>Content Type:</b>
  <%=h @installer.installer_content_type %>
</p>

<p>
  <b>File Size:</b>
  <%=h @installer.installer_file_size %>
</p>

<p>
  <input type="button" onclick="parent.location='/<%=@tags%>/applications/<%=@application.name%>/installers/<%=@installer.id%>/edit'" value="Edit" /> 
&nbsp;
  <input type="button" onclick="parent.location='/<%=@tags%>/applications/<%=@application.name%>/installers'" value="Back" /> 
</p>

</div>
