<div class="app_details">

<h3>List of Users</h3>

<% if @users.empty? %>
  <p><b> No Users that show </b></p>
<% else %>
  <table cellspacing=5>
    <tr align=center>
      <th>State</th>
      <th>Username</th>
      <th>E-mail</th>
    </tr>
  
  <% for user in @users %>
    <tr align=center>
      <td>
        <% unless user == current_user %>
          <% if user.enabled %>
            <%= link_to (image_tag "apply.png", :alt => "Disable", :class => "option"), user_path(user.id), :title => "Disable", :method => :delete %>
          <% else %>
            <%= link_to (image_tag "delete.png", :alt => "Enable", :class => "option"), enable_user_path(user.id), :title => "Enable", :method => :put %>
          <% end %>
        <% end %>
      </td>
      <td><%=h user.login %></td>
      <td><%=h user.email %></td>
      <td>
        <%= link_to (image_tag "edit.png", :alt => "Edit Roles", :class => "option"), user_roles_path(user), :title => "Edit Roles" %>
        <%= link_to 'Edit Roles', user_roles_path(user) %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

</div>

<br />
<p>
  <input type="button" onclick="parent.location='/signup'" value="Create" /> &nbsp; <input type="button" onclick="parent.location='/configurations'" value="Back" />
</p>
