<div class="app_details">

<h3>New User</h3>

<% form_for :user, :url => users_path do |f| %>
  <%= error_messages_for :user %>

  <p>
    <span class="asterisk">* </span><b>Username</b><br />
    <%= f.text_field :login %>
  </p>
  
  <p>
    <span class="asterisk">* </span><b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <span class="asterisk">* </span><b>Password</b><br />
    <%= f.password_field :password %> <small>Between 4 and 40 characters</small>
  </p>

  <p>
    <span class="asterisk">* </span><b>Confirm Password</b><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= submit_tag 'Create' %> &nbsp; <input type="button" onclick="parent.location='/users'" value="Cancel" />
  </p>

<% end %>

</div>
