<div id="breadcrums">
  <%= link_to 'Cat&aacute;logo', categories_path %>
  <% cat_tags = [] %> 
  <% for tag in @tags %>
		<% if tag != 'search' %>
    > <%= link_to_if ((tag != @tags[-1]) or @application), String.new(tag).from_url, applications_path(cat_tags << tag) %>
		<% end %>
  <% end %>
  <%=h '> ' + @application.name if @application and @application.name %>

  <% if @hide %>
    <% css_class = 'gotocenter' %>
  <% else %>
    <% css_class = 'goto' %>
  <% end %>

  <%= link_to 'Ver aplicaciones', applications_path(@tags), :class => css_class unless @tags.nil? or @tags.empty? if controller.controller_name == 'categories' %>
  <% cat = Category.find_with_like_by_name(String.new(@tags[-1]).from_url) if @tags[-1] %>
  <%= link_to 'Ver categorias', categories_path(@tags), :class => css_class unless @tags.nil? or @tags.empty? or @application or cat.nil? if controller.controller_name == 'applications' && cat && !cat.children_in_site(@site_config).empty? %>

<ul id="nav" >
<li>
<ul>
<li>
<%= link_to 'Últimas aplicaciones', search_path('a') %>
</li>
<li>
<%= link_to 'Últimos instaladores', search_path('u') %>
</li>
<li>
<%= link_to 'Para GNU/Linux', search_path('gnulinux') %>
</li>
<li>
<%= link_to 'Para Windows', search_path('windows') %>
</li>
<li>
<%= link_to 'Para Mac OS', search_path('macos') %>
</li>
</ul>
</li>
</ul>


</div>
