    <div id="installers">

    <table summary="Relación de instaladores y arquitecturas">
      <caption>Descargar:</caption>
      <tbody>
        <tr valign=top>
          <td>
          <% if !@win32.empty? %>
               <table>
               <% installer = @win32[@win32.size - 1] %>
                 <tr class="heading">
                   <th>
                  <%= link_to (image_tag "win32.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "windows" }) if installer.version %><br/>
                   </th>
                 </tr>
                 <tr valign=top>
                   <td>
                  <%= link_to "Windows x32", installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "windows" }) if installer.version %><br/>
                   <% if installer.version.nil? or !installer.version.empty? %>
                        <p><%= "Versión " + installer.version%> </p>
                   <% end %>
                   </td>
                 </tr>
               </table>
          </td>
          <td>&nbsp; &nbsp;</td>
          <td>

          <% end %>

          <% if !@win64.empty? %>
               <table>
               <% installer = @win64[@win64.size - 1] %>
                 <tr class="heading">
                   <th>
                  <%= link_to (image_tag "win64.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "windows" }) if installer.version %><br/>
                   </th>
                 </tr>
                 <tr valign=top>
                   <td>
                  <%= link_to "Windows x64", installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "windows" }) if installer.version %><br/>
                   <% if installer.version.nil? or !installer.version.empty? %>
                        <p><%= "Versión " + installer.version%> </p>
                   <% end %>
                   </td>
                 </tr>
               </table>
          </td>
          <td>&nbsp; &nbsp;</td>
          <td>

          <% end %>

          <% if !@linux.empty? %>
               <table>
               <% installer = @linux[@linux.size - 1] %>
                 <tr class="heading">
                   <th>
                  <%= link_to (image_tag "linux.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "linux" }) if installer.version %><br/>
                   </th>
                 </tr>
                 <tr valign=top>
                   <td>
                  <%= link_to "GNU/Linux", installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "linux" }) if installer.version %><br/>
                   <% if installer.version.nil? or !installer.version.empty? %>
                        <p><%= "Versión " + installer.version%> </p>
                   <% end %>
                   </td>
                 </tr>
               </table>
          </td>
          <td>&nbsp; &nbsp;</td>
          <td>

          <% end %>

          <% if !@mac.empty? %>
               <table>
               <% installer = @mac[@mac.size - 1] %>
                 <tr class="heading">
                   <th>
                  <%= link_to (image_tag "mac.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "mac" }) if installer.version %><br/>
                   </th>
                 </tr>
                 <tr valign=top>
                 <td>
                <%= link_to "Mac OS", installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "mac" }) if installer.version %><br/>
                 <% if installer.version.nil? or !installer.version.empty? %>
                      <p><%= "Versión " + installer.version%> </p>
                 <% end %>
                 </td>
               </tr>
             </table>
          </td>
          <td>&nbsp; &nbsp;</td>
          <td>

          <% end %>

          <% if !@multiplatform.empty? %>
               <table>
               <% installer = @multiplatform[@multiplatform.size - 1] %>
                 <tr class="heading">
                   <th>
                  <%= link_to (image_tag "multi.png", :border => "0"), installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "multiplatform" }) if installer.version %><br/>
                   </th>
                 </tr>
                 <tr valign=top>
                   <td>
                  <%= link_to "Multiplataforma", installer.installer.url, :title => 'descargar ' + installer.name, :onclick => remote_function(:url => { :action => "counter", :id => @application.id, :platform => "multiplatform" }) if installer.version %><br/>
                   <% if installer.version.nil? or !installer.version.empty? %>
                        <p><%= "Versión " + installer.version%> </p>
                   <% end %>
                   </td>
                 </tr>
               </table>
          <% end %>

          </td>
        </tr>
      </tbody>
    </table>
    <% if logged_in? and current_user.has_role?('administrator') %>
         <p align=center>
           &nbsp; <%= link_to (image_tag "edit.png", :alt => "Edit Installers", :class => "option"),
                               application_installers_path(@tags, @application), :title => "Edit Installers" %>
           <%= link_to 'Edit Installers', application_installers_path(@tags, @application) %>
           <%
               require 'open-uri'
               begin
                 @url_app = "http://" + request.subdomains.join(".") + "." + request.domain + application_path(@tags, @application)
                 f = open('http://t.osl.ull.es/url/' + @url_app + '?out=1')
                 @url = f.read
           %>
           <%=   link_to_remote (image_tag "twittear.png", :alt => "Share on Twitter", :class => "option"),  
			:url => {:action => 'twittear', 
			:message => '[Update] Nueva versión de #' + @application.name + ' disponible en http://' + @url} %>
           <%
               rescue
          	 false
               end
	   %>
           <br /><br />
         </p>
    <% end %>
  </div>

