<div class="column-right-box">
  <h4>Recursos</h4>
  <div class="generic-right-box">
    <ul>
      <% for resource in @application.resources %>
        <li>
          <%= link_to resource.name, resource.resource.url, :title => resource.description, :popup => true if resource.website == "" %>
          <%= link_to resource.name, resource.website, :title => resource.description, :popup => true if resource.website != "" %>
        </li>
      <% end %>
    </ul>
  </div>
  <br />
  <% if logged_in? and current_user.has_role?('administrator') %>
       &nbsp; <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), application_resources_path(@tags, @application), :title => "Edit" %>
       <%= link_to 'Edit Resources', application_resources_path(@tags, @application) %>
       <%
         require 'open-uri'
         begin
           @url_app = @site_config.website + application_path(@tags, @application)
           @url_app = @url_app.gsub('Ñ', 'N')
           @url_app = @url_app.gsub('Á', 'A')
           @url_app = @url_app.gsub('É', 'E')
           @url_app = @url_app.gsub('Í', 'I')
           @url_app = @url_app.gsub('Ó', 'O')
           @url_app = @url_app.gsub('Ú', 'U')
           @url_app = @url_app.gsub('ñ', 'n')
           @url_app = @url_app.gsub('á', 'a')
           @url_app = @url_app.gsub('é', 'e')
           @url_app = @url_app.gsub('í', 'i')
           @url_app = @url_app.gsub('ó', 'o')
           @url_app = @url_app.gsub('ú', 'u')
           
	   f = open('http://t.ull.es/url/' + @url_app + '?out=1')
           @url = f.read
       %>
       <%= link_to_remote (image_tag "twittear.png", :alt => "Share on Twitter", :class => "option"),  
		:url => {:action => 'twittear', 
		:message => '[Update] Nuevos recursos sobre #' + @application.name.gsub(/\s/,"") + ' disponibles en http://' + @url} %>
       <%
         rescue
           false  
         end
       %>
       <br /><br />
  <% end %>
</div>
<br />
