<%= javascript_include_tag :defaults, 'builder', 'lightbox' %>
<div class="column-right-box">
  <h4>Capturas</h4>
  <div id="screenshots">
    <% @screenshots.each do |screenshot| %>
      <% if screenshot == @screenshots.first %>
        <%= link_to image_tag(@screenshots.first.image.url(:thumb),
          :alt => @screenshots.first.name, :title => @screenshots.first.name),
          @screenshots.first.image.url, {:rel => "lightbox[screenshots]", :title => "<text class='shot_text'>#{@screenshots.first.name}</text>"} %>
      <% else %>
  		<%= link_to '',
        screenshot.image.url, {:rel => "lightbox[screenshots]", :title => "<text class='shot_text'>#{screenshot.name}</text>"} %>
      <% end %>
    <% end %>
    <br/><%=h @screenshots.length %>
    <% shot_text = "captura" %>
    <% shot_text = shot_text.pluralize if @screenshots.length > 1 %>
    <%=h shot_text %>
  </div>
</div>
<div class="column-right-bottom">&nbsp;</div>
