<!-- application URL -->
<% @url_app = url_for(:only_path => false) %>
<% @url_app = @url_app.gsub('%20', '_') %>

<!-- TEST URL -->
<%  #@url_app = "http://openpyme.osl.ull.es/CMS/applications/Drupal"%>

<% require 'open-uri' %>
 
<% Kernel.open('http://t.osl.ull.es/url/'+@url_app+'?out=1') do |f|
  @p=f.read
end %>

<p class="social"> <strong>
<%= link_to "Compartir:", 'http://'+@p %>
</strong> 
<%= text_field "compartir", "name", "size" => 15, "value" => @p %>
<%= link_to image_tag("fb.png"), "http://www.facebook.com/share.php?u=#{@p}" %>
<%= link_to image_tag("twitter.png"), "http://twitter.com/home?status=#{@p}" %>
<%= link_to image_tag("identica.png"), "http://identi.ca/index.php?action=newnotice&status_textarea=#{@p}" %> 
<%= link_to image_tag("buzz.png"), "http://www.google.com/buzz/post?url=#{@p}" %>
<%= link_to image_tag("ff.png"), "http://friendfeed.com/?url=#{@p}" %>
<%= link_to image_tag("delicious.png"), "http://del.icio.us/post?url=#{@p}" %>
<%= link_to image_tag("linkedin2.png"), "http://www.linkedin.com/shareArticle?mini=true&url=#{@p}" %>
</p>
