<h3>Editing Site Configuration</h3>

<% form_for(@site_configuration) do |f| %>
  <%= f.error_messages %>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Site Domain</b><br />
    <%= f.text_field :website %>
  </p>

  <p>
    <b>Header</b><br />
    <%= f.text_field :header %>
  </p>

  <p>
    <b>Web ISO</b><br />
    <%= f.text_field :webiso %>
  </p>

  <p>
    <b>Tracking Code (Google Analytics)</b><br />
    <%= f.text_area :code %>
  </p>

  <p>
    <b>Root Category ID (Should put the same thing you put in Name)</b><br />
    <%= f.text_field :root_category_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Show', @site_configuration %> |
<%= link_to 'Back', site_configurations_path %>
