<div class="app_details">

<h3>List of Site Configurations</h3>

<% if @site_configurations.empty? %>
  <p><b> No Site Configurations that show </b></p>
<% else %>
  <table cellspacing=5>
    <tr align=center>
      <th>Name</th>
      <th>Domain</th>
      <th>Header</th>
    </tr>

  <% for site_configuration in @site_configurations %>
    <tr align=center>
      <td><%=h site_configuration.name %></td>
      <td><%=h site_configuration.website %></td>
      <td><%=h site_configuration.header %></td>
      <td><%= link_to 'Show', site_configuration %></td>
      <td><%= link_to 'Edit', edit_site_configuration_path(site_configuration) %></td>
      <td><%= link_to 'Destroy', site_configuration, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>
</div>
<br />

<%= link_to 'New Site Configuration', new_site_configuration_path %>
