<div class="app_details">

<h3>List of Site Configurations</h3>

<% if @site_configurations.empty? %>
  <p><b> No Site Configurations that show </b></p>
<% else %>
  <table cellspacing=5>
    <tr align=center>
      <th>Name</th>
      <th>Domain</th>
      <th>Header</th>
    </tr>

  <% for site_configuration in @site_configurations %>
    <tr align=center>
      <td><%=h site_configuration.name %></td>
      <td><%=h site_configuration.website %></td>
      <td><%=h site_configuration.header %></td>
      <td>
	<%= link_to (image_tag "show.png", :alt => "Show", :class => "option"), site_configuration, :title => "Show" %> 
        <%= link_to 'Show', site_configuration %>
      </td>
      <td>
	<%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_site_configuration_path(site_configuration), :title => "Edit" %>
        <%= link_to 'Edit', edit_site_configuration_path(site_configuration) %>
      </td>
      <td>
        <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), site_configuration, :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Delete', site_configuration, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @site_configurations, :prev_label => '<< Anterior', :next_label => 'Siguiente >>' %>

</div>

<br />
<p>
  <input type="button" onclick="parent.location='/site_configurations/new'" value="Create" /> &nbsp; <input type="button" onclick="parent.location='/configurations'" value="Back" />
</p>
