<div class="app_details">

<h3>Listing Site Configurations</h3>

<table cellspacing=5>
  <tr align=center>
    <th>ID</th>
    <th>Name</th>
    <th>Site Domain</th>
    <th>Header</th>
    <th>Root category</th>
  </tr>

<% for site_configuration in @site_configurations %>
  <tr align=center>
    <td><%=h site_configuration.id %></td>
    <td><%=h site_configuration.name %></td>
    <td><%=h site_configuration.website %></td>
    <td><%=h site_configuration.header %></td>
    <td><%=h site_configuration.root_category_id %></td>
    <td><%= link_to 'Show', site_configuration %></td>
    <td><%= link_to 'Edit', edit_site_configuration_path(site_configuration) %></td>
    <td><%= link_to 'Destroy', site_configuration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New site_configuration', new_site_configuration_path %>
