<p>
  <b>ID:</b>
  <%=h @site_configuration.id %>
</p>
<p>
  <b>Name:</b>
  <%=h @site_configuration.name %>
</p>
<p>
  <b>WebSite:</b>
  <%=h @site_configuration.website %>
</p>

<p>
  <b>Header:</b>
  <%=h @site_configuration.header %>
</p>

<p>
  <b>WebISO:</b>
  <%=h @site_configuration.webiso %>
</p>

<p>
  <b>Code Analytics:</b>
  <%=h @site_configuration.code %>
</p>

<p>
  <b>Root category:</b>
  <%=h @site_configuration.root_category_id %>
</p>


<%= link_to 'Edit', edit_site_configuration_path(@site_configuration) %> |
<%= link_to 'Back', site_configurations_path %>
