<div class="app_details">

<h3>Configuration <%=h @site_configuration.name %></h3>

<p>
  <b>Site ID:</b>
  <%=h @site_configuration.id %>
</p>

<p>
  <b>Domain:</b>
  <%=h @site_configuration.website %>
</p>

<p>
  <b>Header:</b>
  <%=h @site_configuration.header %>
</p>

<p>
  <b>Web ISO:</b>
  <%=h @site_configuration.webiso %>
</p>

<p>
  <b>Tracking Code (Google Analytics):</b>
  <%=h @site_configuration.code %>
</p>

<%= link_to 'Edit', edit_site_configuration_path(@site_configuration) %> |
<%= link_to 'Back', site_configurations_path %>

</div>
