<%= error_messages_for :page %>

<% form_for @page do |f| %>

  <p>
    <b>Site Name (Empty for all sites)</b><br />
    <%= f.text_field :site %>
  </p>

  <p>
    <b>Page Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Permanent Link</b><br />
    <%= f.text_field :permalink %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p><%= f.submit "Submit" %></p>

<% end %>
