<%= error_messages_for :page %>

<% form_for @page do |f| %>

  <p>
    <b>Page for: </b>
    <select name="page[site]">
      <option selected value=""> <%= "All Sites" %> </option>
      <% SiteConfiguration.find(:all, :order => "name").each do |site| %>
        <option value="<%= site.name %>">
          <%= site.name %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <b>Display name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Permanent link</b><br />
    <%= f.text_field :permalink %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p><%= f.submit "Submit" %></p>

<% end %>

