<%= error_messages_for :page %>

<% form_for @page do |f| %>

  <p>
    <b>Page for: </b>
    <select name="page[site]">
      <% if !@page.site.nil? and !@page.site.empty? %>
          <option selected value="<%= @page.site %>"> <%= @page.site %> </option>
      <% end %>
      <% if @page.site !~ Regexp.compile("All Sites") %>
          <option value=""> <%= "All Sites" %> </option>
      <% end %>
      <% SiteConfiguration.find(:all, :order => "name").each do |site| %>
        <% if @page.site !~ Regexp.compile(site.name) %>
            <option value="<%= site.name %>"> <%= site.name %> </option>
        <% end %>
      <% end %>
    </select>
  </p>

  <p>
    <b>Display name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <span class="asterisk">* </span><b>Permanent link</b><br />
    <%= f.text_field :permalink %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p><span class="asterisk">* </span><b>Required field</b></p>

  <p>
    <%= f.submit button_name %> &nbsp; <input type="button" onclick="history.go(-1); return false;" value="Back" />
  </p>

<% end %>

