<% title "Pages" %>

<div class="app_details">

<h3>List of Static Pages</h3>

<% if @pages.empty? %>
  <p><b> No static pages that show </b></p>
<% else %>
  <table cellspacing=5>
    <tr align=center>
      <th>Page for</th>
      <th>Display name</th>
      <th>Permanent link</th>
    </tr>
    <% for page in @pages %>
      <tr align=center>
        <td>
          <% if page.site.empty? %>
            <p>All Sites</p>
          <% else %>
            <%=h page.site%>
          <% end %>
        </td>
        <td><%=h page.name %></td>
        <td><%=h page.permalink %></td>
        <td>
          <%= link_to (image_tag "show.png", :alt => "Show", :class => "option"), page, :title => "Show" %>
          <%= link_to 'Show', page %>
        </td>        
        <td>
          <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_page_path(page), :title => "Edit" %>
          <%= link_to 'Edit', edit_page_path(page) %>
        </td>
        <td>
          <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), page, :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
          <%= link_to 'Delete', page, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>
<br />
<p>
  <input type="button" onclick="parent.location='/pages/new'" value="Create" /> &nbsp; <input type="button" onclick="parent.location='/configurations'" value="Back" />
</p>
