<h4><%= link_to @page.name, "/static/#{@page.permalink}" %></h4>

<%
  content = @page.content.gsub(/<h(\d)/, '</div><div class="static_pages"><h\1')
  content = content.sub(/^<\/div><div class="static_pages">/, '') 
%>

<div class="static_pages">	
  <%= content %>
</div>

<div id="static_pages_bottom">&nbsp;</div>

<% if logged_in? and current_user.has_role?('administrator') %>
  <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_page_path(@page), :title => "Edit" %>
  <%= link_to 'Edit', edit_page_path(@page) %>
  <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), @page, :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to 'Delete', @page, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to (image_tag "show.png", :alt => "View All", :class => "option"), pages_path, :title => "View All" %>
  <%= link_to 'View All', pages_path %>
<% end %>
