<% form_for([@application, @resource]) do |f| %>
 <!-- WTF?
  <p>
    <b>Application</b><br />
    <%= f.text_field :application %>
  </p>
  --> 
  <p>
  	<b>Application_id:</b>
  	<%=h @resource.application_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit button_name %>
  </p>
<% end %>