<% form_for([@category, @application, @resource]) do |f| %>
  <p>
  	<b>Application:</b>
  	<%=h @application.name %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit button_name %>
  </p>
<% end %>