<h3>Editing <%= @application.name %> Resource</h3>

<%= error_messages_for :resource %>

<%= render :partial => @resource, :locals => { :button_name => "Update"} %>

<%= link_to 'Show', application_resource_path(@tags, @application, @resource) %> |
<%= link_to 'Back', application_resources_path(@tags, @application) %>
