<% title @application.name+"Resources" %>

<div class="app_details">

<h3>Listing <%=h @application.name %> Resources</h3>

<table cellspacing=5>
  <tr align=center>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for resource in @resources %>
  <tr align=center>
    <td><%=h resource.name %></td>
    <td><%=h resource.description %></td>
    <td><%= link_to 'Show', application_resource_path(@tags, @application, resource) %></td>
    <td><%= link_to 'Edit', edit_application_resource_path(@tags, @application, resource) %></td>
    <td><%= link_to 'Destroy', application_resource_path(@tags, @application, resource), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>

<br />

<%= link_to 'New resource', new_application_resource_path(@tags, @application) %>
