<% title @application.name+"Resources" %>

<div class="app_details">

<h3>List of <%=h @application.name %> Resources</h3>

<% if @resources.empty? %>
  <p><b> No Resources that show </b></p>
<% else %>
  <table cellspacing=5>
    <tr align=center>
      <th>Name</th>
      <th>Description</th>
    </tr>

  <% for resource in @resources %>
    <tr align=center>
      <td><%=h resource.name %></td>
      <td><%=h resource.description %></td>
      <td>
        <%= link_to (image_tag "show.png", :alt => "Show", :class => "option"), application_resource_path(@tags, @application, resource), :title => "Show" %>
	<%= link_to 'Show', application_resource_path(@tags, @application, resource) %>
      </td>
      <td>
        <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_application_resource_path(@tags, @application, resource), :title => "Edit" %>
	<%= link_to 'Edit', edit_application_resource_path(@tags, @application, resource) %>
      </td>
      <td>
        <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), 
			application_resource_path(@tags, @application, resource), :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
	<%= link_to 'Destroy', application_resource_path(@tags, @application, resource), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

</div>

<br />
<input type="button" onclick="parent.location='/<%=@tags%>/applications/<%=@application.name%>/resources/new'" value="Create" />
&nbsp;
<input type="button" onclick="parent.location='/<%=@tags%>/applications/<%=@application.name%>/'" value="Back" />
