<!-- estas linea esta condenada a desaparecer, o no -->
<p>
  <b>Application:</b>
  <%=h @resource.application %>
</p>
<!-- hasta aqui -->

<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @resource.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @resource.description %>
</p>


<%= link_to 'Edit', [:edit, @application, @resource] %> |
<%= link_to 'Back', application_resources_path(@application) %>
