<p>
  <b>Application_id:</b>
  <%=h @resource.application_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @resource.description %>
</p>


<%= link_to 'Edit', edit_application_resource_path(@tags, @application, @resource) %> |
<%= link_to 'Back', application_resources_path(@tags, @application) %>
