<div class="app_details">

<h3><%= @application.name%> Resource</h3>

<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @resource.description %>
</p>

  <p>
    <b>File Name:</b>
    <%=h @resource.resource %>
  </p>

  <p>
    <b>WebSite:</b>
    <%=h @resource.website%>
  </p>

<%
  path = ''
  @tags.each do |tag|
    path += '/' + tag
  end
%>
<p>
  <input type="button" onclick="parent.location='<%=h path%>/applications/<%=@application.name%>/resources/<%=@resource.id%>/edit'" value="Edit" /> 
&nbsp;
  <input type="button" onclick="parent.location='<%=h path%>/applications/<%=@application.name%>/resources'" value="Back" /> 
</p>

</div>
