<div class="app_details">

<h3>List of Menu Nodes</h3>

<% if @menu_nodes.empty? %>
  <p><b> No Menu Nodes that show </b></p>
<% else %>
  <table cellspacing=5>
    <tr align=center>
      <th>Site</th>
      <th>Parent</th>
      <th>Child</th>
    </tr>

  <% for menu_node in @menu_nodes %>
    <tr align=center>
      <td><%=h Category.find_by_id(menu_node.site_id).name if !Category.find_by_id(menu_node.site_id).nil? %></td>
      <td><%=h Category.find_by_id(menu_node.category_id).name if !Category.find_by_id(menu_node.category_id).nil? %></td>
      <td><%=h Category.find_by_id(menu_node.child_id).name if !Category.find_by_id(menu_node.child_id).nil? %></td>
      <!--
      <td>
        <%= link_to (image_tag "show.png", :alt => "Show", :class => "option"), menu_node, :title => "Show" %>
        <%= link_to 'Show', menu_node %>
      </td>
      -->
      <td>
        <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_menu_node_path(menu_node), :title => "Edit" %>
        <%= link_to 'Edit', edit_menu_node_path(menu_node) %>
      </td>
      <td>
        <%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), menu_node, :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Delete', menu_node, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
</div>
<br />

<%= link_to 'Create Node', new_menu_node_path %>
