<div class="app_details">

<h3>New Menu Node</h3>

<% form_for(@menu_node) do |f| %>
  <%= f.error_messages %>

  <p>
  <table cellspacing=10>
  <td>
    <b>Site:</b>
    <select name="menu_node[site_id]">
      <% SiteConfiguration.find(:all, :order => 'name').each do |site| %>
        <option value="<%= site.id %>">    
          <%= site.name %>
        </option>
      <% end %>
    </select>
    
  <b>Parent:</b>
    <select name="menu_node[category_id]">
      <% Category.find(:all, :order => 'name').each do |parent| %> 
        <option value="<%= parent.id %>">    
          <% if !parent.publicname.nil? and !parent.publicname.empty? %>
            <%= parent.publicname %>
          <% else %>
            <%= parent.name %>
          <% end %>
        </option>
      <% end %>
    </select>

    <b>Child:</b>
    <select name="menu_node[child_id]">
      <% Category.find(:all, :order => 'name').each do |child| 
        if SiteConfiguration.find_by_name(child.name).nil? %>
          <option value="<%= child.id %>">    
            <% if !child.publicname.nil? and !child.publicname.empty? %>
              <%= child.publicname %>
            <% else %>
              <%= child.name %>
            <% end %>
          </option>
        <% end %>
      <% end %>
    </select>
  </td>
  </table>
  <br />&nbsp; <%= f.submit "Create" %> &nbsp; <input type="button" onclick="history.go(-1); return false;" value="Back" />
  </p>
<% end %>

</div>
