<ul id="categories_index" class="cleaning-box">
<% for category in @categories %>
  <li>
    <% url_param = Array.new(@tags) << category %>
    <% if category.children_in_site(@site_config).empty? %>
      <%= link_to (image_tag category.icon.url(:big)), categories_path(url_param) + "/applications" %><br />
      <% if !category.publicname.nil? and !category.publicname.empty? %>
        <%= link_to category.publicname, categories_path(url_param) + "/applications" %>
      <% else %>
        <%= link_to category.name, categories_path(url_param) + "/applications" %>
      <% end %>
    <% else %>
      <%= link_to (image_tag category.icon.url(:big)), categories_path(url_param) %><br />
      <% if !category.publicname.nil? and !category.publicname.empty? %>
        <%= link_to category.publicname, categories_path(url_param) %>
      <% else %>
        <%= link_to category.name, categories_path(url_param) %>
      <% end %>
    <% end %>
    <div class="category">
      <% if logged_in? and current_user.has_role?('administrator') %>
        <%= link_to (image_tag "edit.png", :alt => "Edit", :class => "option"), edit_category_path(category), :title => "Edit" %>
        <%= link_to 'Edit', edit_category_path(category) %> &nbsp; 
    	<%= link_to (image_tag "delete.png", :alt => "Delete", :class => "option"), category_path(category), :title => "Delete", :confirm => 'Are you sure?', :method => :delete %>
	<%= link_to 'Delete', category_path(category), :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
  </li>
<% end %>
</ul>

<br />

<% if logged_in? and current_user.has_role?('administrator') %>
  <%= link_to 'Create category', new_category_path %>
<% end %>
