<% title @application.name+"Screenshots" %>

<table>
  <tr>
    <th>Application</th>
    <th>Name</th>
    <th>Image File Name</th>
    <th>Image Content Type</th>
    <th>Image File Size</th>
    <th>View</th>
  </tr>
  <% for screenshot in @screenshots %>
    <tr>
      <td><%=h screenshot.application.name %></td>
      <td><%=h screenshot.name %></td>
      <td><%=h screenshot.image_file_name %></td>
      <td><%=h screenshot.image_content_type %></td>
      <td><%=h screenshot.image_file_size %></td>
      <td><%=h screenshot.view %></td>
      <td><%= link_to "Show", [@application, screenshot] %></td>
      <td><%= link_to "Edit", [:edit, @application, screenshot] %></td>
      <td><%= link_to "Destroy", [@application, screenshot], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Screenshot", new_application_screenshot_path(@application) %></p>
