<% title "Screenshot" %>

<p>
  <strong>Application:</strong>
  <%=h @screenshot.application.name %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @screenshot.name %>
</p>
<%= image_tag @screenshot.shot.url(:thumb) %>
<p>
  <strong>Shot File Name:</strong>
  <%=h @screenshot.shot_file_name %>
</p>
<p>
  <strong>Shot Content Type:</strong>
  <%=h @screenshot.shot_content_type %>
</p>
<p>
  <strong>Shot File Size:</strong>
  <%=h @screenshot.shot_file_size %>
</p>
<p>
  <strong>Shot Updated At:</strong>
  <%=h @screenshot.shot_updated_at %>
</p>
<p>
  <strong>View:</strong>
  <%=h @screenshot.view %>
</p>

<p>
  <%= link_to "Edit", [:edit, @category, @application, @screenshot] %> |
  <%= link_to "View All", category_application_screenshots_path(@category, @application) %>
</p>
