<% title "Screenshot" %>

<p>
  <strong>Application:</strong>
  <%=h @screenshot.application.name %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @screenshot.name %>
</p>
<%= image_tag @screenshot.image.url(:thumb) %>
<p>
  <strong>Image File Name:</strong>
  <%=h @screenshot.image_file_name %>
</p>
<p>
  <strong>Image Content Type:</strong>
  <%=h @screenshot.image_content_type %>
</p>
<p>
  <strong>Image File Size:</strong>
  <%=h @screenshot.image_file_size %>
</p>
<p>
  <strong>View:</strong>
  <%=h @screenshot.view %>
</p>

<p>
  <%= link_to "Edit", [:edit, @application, @screenshot] %> |
  <%= link_to "View All", application_screenshots_path(@application) %>
</p>
