<% title "Screenshot" %>

<div class="app_details">

<h3><%= @application.name%> Screenshot</h3>

<%= image_tag @screenshot.image.url(:thumb) %>

<p>
  <b>Screenshot Name:</b>
  <%=h @screenshot.name %>
</p>

<p>
  <b>Image File Name:</b>
  <%=h @screenshot.image_file_name %>
</p>

<p>
  <b>Image Content Type:</b>
  <%=h @screenshot.image_content_type %>
</p>

<p>
  <b>Image File Size:</b>
  <%=h @screenshot.image_file_size %>
</p>

<p>
  <%= link_to "Edit", edit_application_screenshot_path(@tags, @application, @screenshot) %> |
  <%= link_to "View All", application_screenshots_path(@tags, @application) %>
</p>

</div>
