<% title "Screenshot" %>

<div class="app_details">

<h3><%= @application.name%> Screenshot</h3>

<%= image_tag @screenshot.image.url(:thumb) %>

<p>
  <b>Screenshot Name:</b>
  <%=h @screenshot.name %>
</p>

<p>
  <b>Image File Name:</b>
  <%=h @screenshot.image_file_name %>
</p>

<p>
  <b>Image Content Type:</b>
  <%=h @screenshot.image_content_type %>
</p>

<p>
  <b>Image File Size:</b>
  <%=h @screenshot.image_file_size %>
</p>

<p>
  <input type="button" onclick="parent.location='/<%=@tags%>/applications/<%=@application.name%>/screenshots/<%=@screenshot.id%>/edit'" value="Edit" /> 
&nbsp;
  <input type="button" onclick="parent.location='/<%=@tags%>/applications/<%=@application.name%>/screenshots'" value="Back" /> 
</p>

</div>
