<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @site_config.header %></title>

<!-- This template was created by Mantis-a [http://www.mantisa.cz/] and modified by Ancor Cruz [http://www.ancorcruz.com]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. -->

<meta name="Description" content="..." />
<meta name="Keywords" content="..." />
<meta name="robots" content="all,follow" />
<meta name="author" content="Agustin Ancor Cruz Lorenzo (www.ancorcruz.com)" />

<!-- Javascript -->
<meta http-equiv="Content-Script-Type" content="text/javascript" />

<!-- CSS -->
<%= stylesheet_link_tag 'style', 'categories', 'applications', 'pages', 'lightbox' %>

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
<div id="border">
<div id="wrapper">

		<!-- Header -->
		<div id="header">
			<%= link_to (image_tag "ull.png", :alt => "ULL", :class => "header-ull"), 'http://www.ull.es', :title => "Universidad de La Laguna", :popup => true %>
			<%= link_to (image_tag "osl_text.png", :alt => "OSL", :class => "header-osl"), 'http://osl.ull.es/', :title => "Oficina de Software Libre", :popup => true %>
      <h1><%= link_to 'Software Libre <span class="dark">para Windows</span>', root_path %> <span class="mini">beta</span></h1>
		</div>
		<!-- Header end -->

		<!-- Menu -->
		<a href="#skip-menu" class="hidden">Skip menu</a>
		<ul id="menu" class="cleaning-box">
			<li class="first"><%= link_to 'Portada', root_path, :class => "active" %></li>
      <%= render :partial => '/shared/pages_list' %> <!-- No shared -->
		</ul>
		<!-- Menu end -->

<hr class="noscreen" />

	<div id="content-box">
		<div id="content-box-in">
			<p class="notice"><%= flash[:notice] %></p>
			<a name="skip-menu"></a>
			<!-- Content left -->
			<% unless @hide %>
			<div class="content-box-left">
				<div class="content-box-left-in">
          <%= render :partial => '/shared/bread_crums' unless @tags.nil? %> <!-- No shared -->
					<%= yield %>
				</div>
			</div>
			<!-- Content left end -->

<hr class="noscreen" />

			<!-- Content right -->
      <div class="content-box-right">
        <div class="content-box-right-in">
          <% if @application and !@application.resources.empty? %>
            <%= render :partial => '/shared/resources_list' %>
          <% end %>

          <% if @screenshots and !@screenshots.empty? %>
	  				<%= render :partial => '/shared/screenshots' %> <!-- Usar content_for -->
          <% end %>

          <% unless @application or @cloud.empty? %>
            <%= render :partial => '/shared/vertical_tag_cloud' %>
          <% end %>
        </div>
      </div>

			<!-- Content right end -->
			
			
			<!-- Content center -->
			<% else %>
				<div class="content-box-center">
          <div class="content-box-center-in">
            <%= render :partial => '/shared/bread_crums' unless @tags.nil? || controller.params[:controller] == 'pages' %>	<!-- No shared -->
            <%= yield %>
            <% unless @cloud.empty? %>
              <%= render :partial => '/shared/horizontal_tag_cloud' %>
            <% end %>
					</div>					
				</div>
			<% end %>
			<!-- Content center end -->
			
			
			<div class="cleaner">&nbsp;</div>
			
			<% if logged_in? and current_user.has_role?('administrator') %>
				<%= render :partial => '/shared/login_menu' %>
			<% end %>
			
		</div>
	</div>
	

<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer">
		<p>&copy; <a href="http://osl.ull.es" target="_blank">Oficina de Software Libre</a> - <a href="http://www.ull.es" target="_blank">Universidad de La Laguna</a></p>
                <br><br>
                <%= link_to (image_tag "gobcan.png", :alt => "GOBCAN", :class => "header-gobcan"), 'http://www.gobcan.es/', :title => "Gobierno de Canarias", :popup => true %>
                &nbsp; &nbsp;
                <%= link_to (image_tag "avanza2.png", :alt => "AVANZA", :size => "180x40", :class => "header-avanza"), 'http://www.planavanza.es/', :title => "Plan Avanza", :popup => true %>
                &nbsp; &nbsp;
                <%= link_to (image_tag "MITC.png", :alt => "MITC", :size => "210x60" ,:class => "header-mitc"), 'http://www.mityc.es/es-ES/Paginas/index.aspx', :title => "Ministerio de Industria, Turismo y Comercio", :popup => true %>
                &nbsp; &nbsp;
                <%= link_to (image_tag "DesarrolloRegional.png", :alt => "FEDER", :size => "80x100", :class => "header-feder"), 'http://ec.europa.eu/regional_policy/funds/feder/index_es.htm', :title => "Fondo Europeo de Desarrollo Regional", :popup => true %>
                &nbsp; &nbsp;
                <%= link_to (image_tag "SocialEuropeo.png", :alt => "ESF", :size => "80x100", :class => "header-esf"), 'http://ec.europa.eu/employment_social/esf/index_es.htm', :title => "Fondo Social Europeo", :popup => true %>

	</div>
	<!-- Footer end -->
</div>
</div>
<br />
<p><a href="http://www.mantisatemplates.com/" target="_blank">Free web templates</a></p> 
<br />
</body>
</html>
