<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Software Libre para Windows: <%= controller.action_name %></title>

<!-- This template was created by Mantis-a [http://www.mantisa.cz/] and modified by Ancor Cruz [http://www.ancorcruz.com]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. -->

<meta name="Description" content="..." />
<meta name="Keywords" content="..." />
<meta name="robots" content="all,follow" />
<meta name="author" content="Agustin Ancor Cruz Lorenzo (www.ancorcruz.com)" />

<!-- Javascript -->
<meta http-equiv="Content-Script-Type" content="text/javascript" />

<!-- CSS -->
<%= stylesheet_link_tag 'style', 'categories', 'applications', 'pages', 'lightbox' %>

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<div id="border">
<div id="wrapper">

		<!-- Header -->
		<div id="header">
			<%= link_to (image_tag "ull.png", :alt => "ULL", :class => "header-ull"), 'http://www.ull.es', :title => "Universidad de La Laguna" %>
			<%= link_to (image_tag "osl_text.png", :alt => "OSL", :class => "header-osl"), 'http://osl.ull.es/', :title => "Oficina de Software Libre" %>
			<h1><%= link_to 'Software Libre <span class="dark">para Windows</span>', 'http://windowslibre.osl.ull.es' %> <span class="mini">alfa</span></h1>
		</div>
		<!-- Header end -->

		<!-- Menu -->
		<a href="#skip-menu" class="hidden">Skip menu</a>
		<ul id="menu" class="cleaning-box">
			<li class="first"><%= link_to 'Portada', root_path, :class => "active" %></li>
			<%= render :partial => '/shared/pages_list' %>
		</ul>
		<!-- Menu end -->

<hr class="noscreen" />

	<div id="content-box">
		<div id="content-box-in">
			<p class="status">
				<strong>ATENCI&Oacute;N:</strong> actualmente estamos en versi&oacute;n <i>ALFA</i>,
				esto quiere decir que es posible que encuentres alg&uacute;n error, adem&aacute;s, muchas de las funcionalidades
				previstas para la aplicaci&oacute;n a&uacute;n no est&aacute;n disponibles.   
			</p>
			<p class="notice"><%= flash[:notice] %></p>
			<a name="skip-menu"></a>
			<!-- Content left -->
			<% if !@hide %>
			<div class="content-box-left">
				<div class="content-box-left-in">
					<%= yield %>
				</div>
			</div>
			<!-- Content left end -->

<hr class="noscreen" />

			<!-- Content right -->
				<div class="content-box-right">
				<% if @categories %>
					<%= render :partial => '/shared/categories_list' %>
					<div id="column-right-bottom">&nbsp;</div>
				<% end %>
				
				<% if @application and !@application.installers.empty? %>
					<%= render :partial => '/shared/installers_list' %>
					<div id="column-right-bottom">&nbsp;</div>
				<% end %>
				
				<% if @application and !@application.resources.empty? %>
					<%= render :partial => '/shared/resources_list' %>
					<div id="column-right-bottom">&nbsp;</div>
				<% end %>
			</div>

			<!-- Content right end -->
			<% else %>
				<div class="content-box-center">
					<div class="content-box-center-in">
						<%= yield %>
					</div>					
				</div>
			<% end %>
			<div class="cleaner">&nbsp;</div>
			
			<% if logged_in? and current_user.has_role?('administrator') %>
				<%= render :partial => '/shared/login_menu' %>
			<% end %>
			
		</div>
	</div>
	

<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer">
		<p>&copy; <a href="http://osl.ull.es">Oficina de Software Libre</a> - <a href="http://www.ull.es">Universidad de La Laguna</a></p>
	</div>
	<!-- Footer end -->
</div>
</div>
<br />
<p><a href="http://www.mantisatemplates.com/">Free web templates</a>, tip 
<a href="http://www.junglegym.cz/uvodni-stranka.aspx" title="Dětská hřiště, skluzavky a houpačky Jungle Gym">Dětská Hřiště</a></p>
<br />
</body>
</html>

