<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Software Libre para Windows: <%= controller.action_name %></title>

<!-- This template was created by Mantis-a [http://www.mantisa.cz/] and modified by Ancor Cruz [http://www.ancorcruz.com]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. -->

<meta name="Description" content="..." />
<meta name="Keywords" content="..." />
<meta name="robots" content="all,follow" />
<meta name="author" content="Agustin Ancor Cruz Lorenzo (www.ancorcruz.com)" />

<!-- Javascript -->
<meta http-equiv="Content-Script-Type" content="text/javascript" />

<!-- CSS -->
<%= stylesheet_link_tag 'style', 'categories', 'applications', 'lightbox' %>

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<div id="border">
<div id="wrapper">

		<!-- Header -->
		<div id="header">
			<%= link_to (image_tag "ull.png", :alt => "ULL", :class => "header-ull"), 'http://www.ull.es', :title => "Universidad de La Laguna" %>
			<%= link_to (image_tag "osl.png", :alt => "OSL", :class => "header-osl"), 'http://osl.ull.es/', :title => "Oficina de Software Libre" %>
			<h1><%= link_to 'Software Libre <span class="dark">para Windows</span>', 'http://windowslibre.osl.ull.es' %></h1>
		</div>
		<!-- Header end -->

		<!-- Menu -->
		<a href="#skip-menu" class="hidden">Skip menu</a>
		<ul id="menu" class="cleaning-box">
			<li class="first"><%= link_to 'Portada', root_path, :class => "active" %></li>
			<li class="right"></li>
		</ul>
		<!-- Menu end -->

<hr class="noscreen" />

	<div id="content-box">
		<div id="content-box-in">

			<a name="skip-menu"></a>
			<!-- Content left -->
			<div class="content-box-left">
				
				<div class="content-box-left-in">
					<%= yield %>
					<p class="notice"><%= flash[:notice] %></p>
				</div>
			</div>
			<!-- Content left end -->

<hr class="noscreen" />

			<!-- Content right -->
			<% if !@hide %>
				<div class="content-box-right">
				<% if @categories %>
					<h4>Categorias:</h4>
					<div class="content-box-right-in">
						<%= render :partial => '/shared/categories_index' %>
					</div>
					<div id="column-right-bottom">&nbsp;</div>
				<% end %>
				
				<% if @application and !@application.resources.empty? %>
					<h4>Otros recursos:</h4>
					<div class="content-box-right-in">
						<%= render :partial => '/shared/resources_index' %>
					</div>
					<div id="column-right-bottom">&nbsp;</div>
				<% end %>
			</div>
			<% end %>
			<!-- Content right end -->
			<div class="cleaner">&nbsp;</div>
		</div>
	</div>
	

<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer">
		<p class="left"><a class="b" href="#">MY WEBSITE</a>, 2008.</p>
		<p class="right"><a href="http://www.mantisatemplates.com/">Free web templates</a>, tip 
		<a class="b" href="http://www.junglegym.cz/uvodni-stranka.aspx" title="Dětská hřiště, skluzavky a houpačky Jungle Gym">Dětská Hřiště</a></p>
	</div>
	<!-- Footer end -->
</div>
</div>
</body>
</html>

